# Compiled source #
###################
*.class


# Package Files #
#################
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Resource Files #
#################
*.properties


# Others #
#################
/target/*
/target/
bin/


*.classpath
*.project
/pom.xml
