<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<head>	
	<meta charset="UTF-8"/>
	<title>Área do Cliente</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/custom.css}"/>
	<script th:src="@{/layout/javascripts/bootstrap.min.js}"></script>
	<script th:src="@{/layout/jquery/jquery-3.2.0.js}"></script>

	<script type="text/javascript">

		$(document).ready(function(){

			var msg = $("#message").html();
			if(msg == null){

				$("#messagePanel").removeAttr("hidden");
			}
		});

		
	</script>		

<style type="text/css">
	
.tabela tbody tr:hover{
    background-color: rgba(220, 220, 220, 1);
}
.tabela tbody td{

	
}
.botaoAcompanhar{
	padding-left:5px;
	padding-right: 5px;
	margin-top:10px;
	width: 150px;
	color:rgb(0,0,0);
}

</style>

</head>
<body>
	<section layout:fragment="conteudo">
	<div class="col-sm-9 col-md-10">
		<h1><span th:text="${session.usuario.nome}"></span></h1>
	</div>
	<div class="row"></div>
	<h2 class="col-sm-9 col-md-10 sub-header">Ultimos Serviços Realizados</h2>
	<div class="row"></div>
	<div class="table-responsive">
            <table class="table table-striped tabela">
              <thead>
                <tr>
                  
                  <th>Data</th>
                  <th>Oficina</th>
                  <th>Veículo</th>
                  <th>Descrição</th>
           		  <th>Status</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
              
             
                <tr th:if="${lista != null}" th:each="lista: ${listaServicos}">
                
                  <td th:text="${lista.dataRequerimento}"></td>
                  <td th:if="${lista.oficina != null}" th:text="${lista.oficina.nome}"></td>
                  <td th:text="${lista.veiculo.placa}"></td>
                  <td th:text="${lista.descricao}" ></td>
                  <td th:text="#{|enumStatus.${lista.status}|}"></td>
                  
                  <td>
                  	  <label th:text="${lista.status.name()}"></label>
	                  <div  th:if="${lista.status.name() == 'AUTORIZACAO_PENDENTE'}">	
	                  	<a  class="btn btn-default botaoAcompanhar" th:href="@{../servico/aprovarServico(id=${lista.id})}"> Aprovar serviço</a>
	                  </div>
	  
	                  <br/>
	                  <a class="btn btn-default botaoAcompanhar" th:href="@{servico/acompanhamento(id=${lista.id})}">Acompanhar</a>
	                  <br/>
	                  <a class="btn btn-default botaoAcompanhar" th:href="@{../servico/relatorio(id=${lista.id})}"> relatorio</a>
                  </td>
                
                </tr>
                            
              </tbody>
            </table>
          </div>
	
	</section>
</body>
</html>