<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-2.0.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<meta charset="ISO-8859-1"/>
<title>Área do Cliente</title>
</head>
<body>


	<table data-role="table" id="table-1" class="ui-responsive">
		<thead>
			<tr>
				<th>A</th>
				<th data-priority="1">B</th>
				<th data-priority="2">C</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a th:href="@{cliente/formVeiculo}">Cadastrar Veiculo</a></td>
				<td><a th:href="@{#}">Listar veiculos</a></td>
				<td><a th:href="@{#}">Informações Extras</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>