<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-2.0.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	
	<div>
		<h1>Cadastro de veículo</h1>
	</div>
	<!-- 
	<form method="POST" th:action="@{formVeiculo/adicionar}" th:object="${cliente}">
		<div>
			<div>Cliente:<span th:text="${cliente.nome}"></span></div>
			<div>
				<div>Chassi e Placa:</div>
				<input type="text" placeholder="numero do chassi" 
							autofocus="autofocus" name="cliente.veiculo.numeroChassi"/>
				<input type="text" placeholder="XXX-9999" name="cliente.veiculo.placa"/>
			</div>
			<div>
				<div><span>Fabricante e modelo:</span></div>
				<select name="cliente.veiculo.marcaModelo.marca">
					<option th:each="fab : ${marcaModelos}" th:value="${fab.marca}" th:text="${fab.marca}"></option>
				</select>
			
				<select name="cliente.veiculo.marcaModelo.modelo">
					<option th:each="fab : ${marcaModelos}" th:value="${fab.modelo}" th:text="${fab.modelo}"></option>
				</select>
			</div>
			<div>
				<div><span>Cor:</span></div>
				<input type="text" name="cliente.veiculo.cor"/>
			</div>
			<div>
				<div><span>Ano de fabricação:</span></div>
				<input type="text" placeholder="  01/04/1998   " name="cliente.veiculo.ano"/>
			</div>
			<div>
				<button type="submit">Cadastrar Veículo</button>
			</div>
			
		</div>
	
	</form>
	 -->
</body>
</html>