<!DOCTYPE html>
<html lang="pt"
	  xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-2.0.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<meta charset="UTF-8"/>
<title>Adicionar Veículo</title>
</head>
<body>
	
	<div>
		<h1>Cadastro de veículo</h1>
	</div>
	
	<form  th:action="@{/cliente/novoVeiculo}" th:object="${veiculo}" method="post">
		<div>
			<div>Cliente:<span th:text="${session.usuario.nome}"></span></div>
			<div>
				<div>Chassi e Placa:</div>
				<input type="text" placeholder="numero do chassi" 
							autofocus="autofocus" th:field="*{numeroChassi}"/>
							
				<input type="text" placeholder="XXX-9999" th:field="*{placa}"/>
			</div>
			<!-- 
			<div>
				<div><span>Fabricante e modelo:</span></div>
				<select th:field="*{marcaModelo.marca}">
					<option th:each="fab : ${marcaModelos}" th:value="${fab.marca}" th:text="${fab.marca}"></option>
				</select>
			
				<select th:field="*{marcaModelo.modelo}">
					<option th:each="fab : ${marcaModelos}" th:value="${fab.modelo}" th:text="${fab.modelo}"></option>
				</select>
			</div>
			 -->
			<div>
				<div><span>Cor:</span></div>
				<input type="text" th:field="*{cor}"/>
			</div>
			<div>
				<div><span>Ano de fabricação:</span></div>
				<input type="text" placeholder="  01/04/1998   " th:field="*{ano}"/>
			</div>
			<div>
				<input type="submit" value="Cadastrar Veículo"/>
			</div>
			
		</div>
	
	</form>
	
</body>
</html>