<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-2.0.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<meta charset="ISO-8859-1"/>
	<title>Novo Cliente</title>
</head>
<body>
	
	<form method="POST" th:object="${cliente}" action="salvar">
		<div>
			<label for="nome">Nome:</label>
			<input name="nome"  type="text"/>
		</div>
		<div>
			<label for="sexo">Sexo:</label>
			<input name="sexo"  type="text"/>
		</div>
		<div>
			<label for="email">Email:</label>
			<input name="email"  type="text"/>
		</div>
		<div>
			<label for="dataNascimento">Data de Nascimento:</label>
			<input name="nome"  type="text"/>
		</div>
		<div>
			<label for="telefone">Telefone:</label>
			<input name="telefone"  type="text"/>
		</div>
		
		<input type="submit" value="Cadastrar" />
	</form>
	
</body>
</html>