<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="bootstrap">
    <link rel="stylesheet" th:href="/layout/stylesheet/bootstrap.min.css"/>
    <script src="/layout/javascript/bootstrap.min.js"></script>
</div>

<div th:fragment="jquerys">
    <link rel="stylesheet" th:href="/layout/jquery/jquery-ui.css"/>
    <script th:src="/layout/jquery/jquery-3.2.0.js"></script>
    <script th:src="/layout/jquery/jquery-ui.min.js"></script>
</div>

</body>
</html>