<!DOCTYPE html>
<html lang="pt"
	  xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/custom.css}"/>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">

		$(document).ready(function() {
		    $.ajax({
		        url: "http://rest-service.guides.spring.io/greeting"
		    }).then(function(data) {
		       $('.greeting-id').append(data.id);
		       $('.greeting-content').append(data.content);
		    });
		});
	
	</script>
</head>
<body>
	
	
	<nav class="navbar navbar-fixed-top navbar-custom" style="color:green;">
	  <div class="container">
	    	<div class="navbar-header">
          <a  style="text-color=white;" class="navbar-brand" href="#">Monitor de Oficina</a>
        </div>
        
        <div id="navbar" class="navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a class="nav-item" href="#">Home</a></li>
            <li><a  class="nav-item" href="/login">Entrar</a></li>
            <li><a  class="nav-item" href="cliente/novo">Cadastro</a></li>
          </ul>
	  	</div>
	  </div>
	</nav>
	

	
	
  
    <div>
        <p class="greeting-id">The ID is </p>
        <p class="greeting-content">The content is </p>
    </div>
        
   
</body>
</html>