<!DOCTYPE html>
<html lang="pt"
	  xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/navbar">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/custom.css}"/>

</head>

<body>
	
	
	<section layout:fragment="conteudo">
	
  	
  	
  	
    <div class="container"  style="padding-top: 5%;">
    
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Monitore seus serviços automotivos</h1>
        <p>Gerencie os seus serviços</p>
        <p>Acompanhe o andamento dos serviços</p>
        <p>Receba notificaçõe de necessidade de serviço</p>
        
      </div>

    </div>
        
   </section>
   
</body>
</html>