<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadraoOficina">
<head>
	<title>Cadastrar serviço</title>
	<meta charset="UTF-8"/>
	
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/custom.css}"/>
	<script th:src="@{/layout/javascripts/bootstrap.min.js}"></script>
	<script th:src="@{/layout/jquery/jquery-3.2.0.js}"></script>
	
	<script type="text/javascript">
		$(document).ready(function(){
		    $("#marca").change(function() {

			    var search = $("#marca").val();
			    if(search != "Selecione a marca do veículo" ){
					    $.ajax({
			
							url: '/servico/listarModelos',
							data:{'marca': search},
							success: function(data){
								$("#modelo").html("");
		
								
								$.each(data, function(i, val){
		
									$("#modelo").append($("<option></option>")
								    .attr("value", val.text).text(val));
									
								});
								 
							}
						});
		    	}else{
		    		$("#modelo").html("");
				}
		    
		    });
		});
	</script>
	
	<script type="text/javascript">

		$(document).ready(function(){

			var msg = $("#message").html();
			if(msg == null){

				$("#messagePanel").removeAttr("hidden");
			}
		});

		
	</script>
	
</head>
<body>
	<section layout:fragment="conteudo">
	
	<div class="col-sm-9 col-md-10">
			
	</div>
	<div class="row"></div>
	
	<div class="col-sm-9 col-md-10">
	
	</div>
	<div class="row"></div>
	
	<div class="col-sm-9 col-md-10">
		<h1>Cadastrar serviço</h1>
	</div>
	<div class="row"></div>
	
	<div class="col-sm-9 col-md-10">
		<form  th:action="@{novoServicoOficina}" th:object="${servico}" method="post">
			<div>
			
				<div class="form-group">
					<label>CPF do cliente:</label>
					<input class="form-control" type="text"  th:field="*{cliente.id}"/>
				</div>
				
				<div class="form-group">
					<label>Data de visita:</label>
					<input class="form-control" type="text"  th:field="*{dataRequerimento}"/>
				</div>
				
				<div class="form-group"  th:if="${servico.descricao == null}">
					<label>Descrição resumida do problema:</label>
					<input  class="form-control" type="text"  th:field="*{descricao}"/>
				</div>
				
				<div class="row">
					<div class="form-group">
							<div class="col-xs-6 col-md-4">
								<label>Chassi:</label>
									<input class="form-control" type="text"  th:field="*{veiculo.numeroChassi}"/>
								</div>
									
							<div class="col-xs-6 col-md-4">
								<label>Placa*:</label>
								<input class="form-control" type="text"  th:field="*{veiculo.placa}"/>
							</div>
					</div>
				</div>
				
				<div class="row">&nbsp;</div>
				
				<div class="row">
					<div class="form-group">
						<div class="col-xs-6 col-md-4">
							<div><label>Marca*:</label></div>
							<select class="form-control" id="marca" th:field="*{veiculo.marcaModelo.marca}">
								<option value="">Selecione a marca do veículo</option>
								<option th:each="marca : ${marcas}" th:value="${marca}" th:text="${marca}"></option>
							</select>
						</div>
						
						<div class="col-xs-6 col-md-4">
							<div><label>Modelo*:</label></div>
							<select class="form-control" id="modelo" th:field="*{veiculo.marcaModelo.modelo}">
							</select>
						</div>
					
					</div>
				</div>
				
				<div class="row">
					<div  class="form-group">
						<div class="col-xs-6 col-md-4">
							<div><label>Cor:</label></div>
							<select class="form-control" th:field="*{veiculo.cor}">
								<option value="">Selecione uma cor</option>
								<option th:each="cor : ${cores}" th:value="${cor}" th:text="#{|enumCores.${cor}|}"></option>
							</select>
						</div>
					</div>
				</div>

				<div class="form-group"> 
					<input class="btn btn-primary" type="submit" value="Marcar"/>
				</div>
				
			</div>
		
		</form>
	</div>
	</section>
</body>
</html>