<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
<head>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-2.0.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<meta charset="UTF-8"/>
<title>Cadastro de visita</title>
</head>
<body>
	<section layout:fragment="conteudo">
	
	<div class="col-sm-9 col-md-10">
			
	</div>
	<div class="row"></div>
	
	<div class="col-sm-9 col-md-10">
	
	</div>
	<div class="row"></div>
	
	<div class="col-sm-9 col-md-10">
		<h1>Cadastrar uma visita</h1>
	</div>
	<div class="row"></div>
	
	<div class="col-sm-9 col-md-10">
		<form  th:action="@{servico/formServico}" th:object="${servico}" method="post">
			<div>
				
				<div>
					<label>Data de visita:</label>
					<input type="text"  th:field="*{dataRequerimento}"/>
				</div>
				
				
				<div>
					<label>Descrição resumida do problema:</label>
					<input type="text"  th:field="*{descricao}"/>
				</div>
				
				
				
				<div>
					<input type="submit" value="Marcar"/>
				</div>
				
			</div>
		
		</form>
	</div>
	</section>
</body>
</html>